# Dot,Cross&One_Hot_Encode

### 1.Write a function that calculates the dot product manually AND a function that calculates the cross product manually. Both should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [1]:
import numpy as np
import pandas as pd

# Function for dot product

In [2]:
# Multiply the values in each pair and add the product of each multiplication to get the dot product.
# We can use zip function which accepts two equal-length vectors and merges them into pairs.

# writing a function for dot product
def dot_product(a,b):
    try:
        if len(a)==len(b):
            return sum(a*b for a,b in zip(a,b))
        else:
            return "Both vectors are not in same dimensional"
    except:
        return "Pass Valid Input............"

    
print(dot_product([1, 2, 'c'],[4, 5, 6]))
print(dot_product([2,3,4],[4,5,6])) 
print(dot_product([-1,2,-3],[4,0,-7])) 
print(dot_product([-7,5],[4,5,2]))        
print(dot_product([1,2], [4,-5]))

Pass Valid Input............
47
17
Both vectors are not in same dimensional
-6

# Why Error Handling?
**If you take a look at my dot product function, I called function with several inputs. I gave my first input wrongly. But still function handled that error and allowed all other inputs to pass into the function and gave outputs. If I haven't use try and except method, even though my 2nd,3rd,4th,5th inputs are valid, my function won't run. It will stuck at first input tself. 
    This is the advantage of error handling.**

In [3]:
# I am double checking answers with np.dot
print(np.dot([2,3,4],[4,5,6])) 
print(np.dot([-1,2,-3],[4,0,-7])) 
#print(np.dot([-7,5],[4,5,2]))        
print(np.dot([1,2], [4,-5]))

47
17
-6

# Function for cross product

In [4]:
def crossproduct(c,d):  
  
    try:
        #checking if both vectors are having same dimensions
        if len(c)!=len(d):
            return "Both vectors are not in same dimensional"
        
        # calculating cross product for 2D vectors
        elif  (len(c)==2&len(d)==2):
            v=((c[0]*d[1])-(d[0]*c[1]))
            return v
        
        # calculating cross product
        else:
            s = []
            for i in range(len(c)):
                if i == 0:
                    j,k = 1,2
                    s.append(c[j]*d[k] - c[k]*d[j])
                elif i == 1:
                    j,k = 2,0
                    s.append(c[j]*d[k] - c[k]*d[j])
                else:
                    j,k = 0,1
                    s.append(c[j]*d[k] - c[k]*d[j])
            return s
        
    except:
        return "Handled Error"
    
#calling function for various inputs

print(crossproduct([1,2,3],[5,'i',7]))    
print(crossproduct([1,2,3,-4,5,6,7],[-1,2,3,-4,5,-6,7]))
print(crossproduct([1,2,3,4,5,6],[1,2,3,4,5,6]))
print(crossproduct([3,5,2,1],[6,7,8,-4]))
print(crossproduct([1,2,2],[6,7]))
print(crossproduct([1,2,3],[5,6,7]))
print(crossproduct([1,2],[6,7]))

Handled Error
[0, -6, 4, 4, 4, 4, 4]
[0, 0, 0, 0, 0, 0]
[26, -12, -9, -9]
Both vectors are not in same dimensional
[-4, 8, -4]
-5

__Since it our function, it is doing cross products for 4D,5D,6D,7D vectors. But the compatible versions of cross product in numpy is 2D,3D only.__

In [5]:
# I am double checking answers with np.cross
print(np.cross([1,2,3],[5,6,7]))
print(np.cross([1,2],[6,7]))
print(np.cross([3,5,2,1],[6,7,8,-4]))

[-4  8 -4]
-5

ValueError: incompatible dimensions for cross product
(dimension must be 2 or 3)

# What is one hot encoding?
One hot encoding is one method of converting data to prepare it for an algorithm and get a better prediction.  With one-hot, we can assign a binary value of 1 or 0 to each categorical value in a categorical column. Each integer value is represented as a binary vector.

## Why do we use one hot encoding?
Many machine learning algorithms cannot work with categorical data directly. The categories must be converted into numbers. This is required for both input and output variables that are categorical. One hot encoding is mainly used to convert categorical values into numeric values.

In [6]:
belize_df=pd.read_csv('belize_airbnb_listings.csv')

In [7]:
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [8]:
belize_df['neighbourhood_group'].value_counts()

Belize         1574
Stann Creek     577
Cayo            505
Corozal          65
Toledo           47
Orange Walk      28
Name: neighbourhood_group, dtype: int64

In [9]:
belize_neigh = ['Belize','Stann Creek','Cayo','Corozal','Toledo','Orange Walk']

# mapping helps to assign index values for our inputs. We can use np.zeros() function to create an array with zeros and 
# assigning 1 to the index values.

mapping = {}
for i in range(len(belize_neigh)):
    mapping[belize_neigh[i]] = i
    #print(mapping)
       
one_hot_code=[]
for i in belize_neigh:
    array= list(np.zeros(len(belize_neigh),dtype=int))
    #print(array)
    array[mapping[i]]=1
    #print(array[mapping[i]])
    one_hot_code.append(array)
one_hot_code

[[1, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0],
 [0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 1]]